.footer-container {
  font-size: 0.9rem;
  color: #657786;
  margin-top: 10px;
}

.footer-content > * {
  margin-right: 10px;
  cursor: pointer;
}

.footer-content > *:hover {
  text-decoration: underline;
}

.footer-content:last-child {
  margin-right: 0;
}
