.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container footer {
  margin: 20px;
  color: #657786;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
